<?xml version="1.0"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID" version="3.0">
 
 
	<servlet>
		<servlet-name>TalentServlet</servlet-name>
		<servlet-class>cr.talent</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/talent-ws-mvc.spring.xml</param-value>
		</init-param>
		<context-param> 
    			<param-name>contextConfigLocation</param-name>
    			<param-value>classpath*:spring-config.xml</param-value>
		</context-param>
		<load-on-startup>1</load-on-startup>
	</servlet> 

	<servlet-mapping>
		<servlet-name>TalentServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>